In [43]:
import pandas as pd
import random

In [44]:
lst = ['robot'] * 10
lst += ['human'] * 10

In [45]:
lst

['robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'human',
 'human',
 'human',
 'human',
 'human',
 'human',
 'human',
 'human',
 'human',
 'human']

In [46]:
random.shuffle(lst)

In [47]:
lst

['robot',
 'human',
 'robot',
 'robot',
 'human',
 'robot',
 'human',
 'robot',
 'robot',
 'robot',
 'human',
 'robot',
 'robot',
 'human',
 'robot',
 'human',
 'human',
 'human',
 'human',
 'human']

In [48]:
data_frame = pd.DataFrame({'whoAmI': lst})
data_frame.head()

  whoAmI
0  robot
1  human
2  robot
3  robot
4  human

In [49]:
pd.get_dummies(data_frame['whoAmI'])

    human  robot
0   False   True
1    True  False
2   False   True
3   False   True
4    True  False
5   False   True
6    True  False
7   False   True
8   False   True
9   False   True
10   True  False
11  False   True
12  False   True
13   True  False
14  False   True
15   True  False
16   True  False
17   True  False
18   True  False
19   True  False

In [50]:
lst

['robot',
 'human',
 'robot',
 'robot',
 'human',
 'robot',
 'human',
 'robot',
 'robot',
 'robot',
 'human',
 'robot',
 'robot',
 'human',
 'robot',
 'human',
 'human',
 'human',
 'human',
 'human']

In [51]:
data_frame['whoAmI'].unique()

array(['robot', 'human'], dtype=object)

In [52]:
# Преобразование в one-hot представление
for unique_value in data_frame['whoAmI'].unique():
    data_frame[unique_value] = (data_frame['whoAmI'] == unique_value).astype(int)

print(data_frame.head(n=len(lst)))

   whoAmI  robot  human
0   robot      1      0
1   human      0      1
2   robot      1      0
3   robot      1      0
4   human      0      1
5   robot      1      0
6   human      0      1
7   robot      1      0
8   robot      1      0
9   robot      1      0
10  human      0      1
11  robot      1      0
12  robot      1      0
13  human      0      1
14  robot      1      0
15  human      0      1
16  human      0      1
17  human      0      1
18  human      0      1
19  human      0      1